<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Enterprise Automation Suite" verbose="2">
    <listeners>
        <listener class-name="com.enterpriseresourceplanning.listeners.TestListener"/>
    </listeners>
    <test name="API Automation">
        <packages>
            <package name="com.enterpriseresourceplanning.api.testcases"/>
        </packages>
    </test>
</suite>
